body {
    background-color: black;
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

spline-viewer {
    width: 110%;
    height: 110%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
/**/

.text {
    z-index: 1000;
}

.aisatsaana {
    font-size: 200px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-weight: 400;
}


.image img {
    width: 20%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    margin-left: 30px;
}

.listen_now img {
  width: 10%;
}

.aisatsaana {
  letter-spacing: -3px;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;
  transition: all 0.3s ease;
}

.aisatsaana:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header__bottom {
    position: absolute;
    bottom: 0;
}

.bottom__inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

li {
    list-style: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

li:hover {
    opacity: 60%;
}

.logo img {
    width: 50px;
}

.header__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
  .bio {
    width: 70%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    /* left: 50%; */
    right: 0;
    font-size: 14px;
    transform: translate(-5%, -50%);
    font-weight: 400;
    text-align: start;
  }


@media screen and (max-width: 768px) {
    .aisatsaana {
        font-size: 56px;
    }


    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box !important;
      width: 100%;
    }

    .header__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box !important;
      width: 100%;
    }

    .header__items {
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .bottom__inside {
      justify-content: center;
      align-items: center;
    }

    .listen_now {
      display: none;
    }

    .bio {
      width: 80%;
      font-size: 8px;
      text-align: center;
      left: 50% !important;
      mix-blend-mode: difference;
      transform: translate(-50%, -50%) !important;
    }

    .image img{
      display: none;
      width: 50%;
      top: 50%;
      left: 50% !important;
      transform: translate(-50% -50%);
      margin: 0;

    }

    .releases {
      width: 90%;
      overflow-x: auto;
    }

    .listen_now img {
      width: 20% !important;
    }

    .art__item img {
      width: 30vh;
      transition: all 0.3s ease;
    }
    

}


a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

/* a::after {
  content: url("src/arrow.svg");
  width: 0.52vw;
  height: 0.52vw;
  display: block;
  transform: translateX(0%);
  transition: opacity 0.2s linear, transform 0.3s;
  margin-left: 0.3vw;
  opacity: 0;
  filter: invert(1);
}

a:hover::after {
  opacity: 1;
  margin-left: 0.3vw;
  transform: translateX(50%);
} */


.releases {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  gap: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.thirdRelease {
  opacity: 1;
}


.art__item img {
  width: 50vh;
  transition: all 0.3s ease;
}

.art__item img:hover {
  transform: scale(1.1);
  opacity: 50%;
}

.arts h2 {
  font-size: 32px;
}

.arts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  text-transform: uppercase;
  gap: 150px;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  overflow-x: auto;
}
